@media (min-width: 640px) {
  .crew-page-container {
    background-image: url("../../../assets/crew/background-crew-desktop.jpg");
  }
}
@media (max-width: 640px) {
  .crew-page-container {
    background-image: url("../../../assets/crew/background-crew-mobile.jpg");
  }
}
